* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins";
    font-size: 66.7%;
    background-color: white;
}

.main {
    padding: 0 4rem;
}

/* HEADER */

.header {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.footer-sub_header {
    font-size: 1.8rem;
    font-weight: 200;
}
.footer-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}
.footer-text {
    font-size: 0.7rem;
    margin: 0 auto;
    max-width: 500px;
    color: #4c4e61ff;
}



.box {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.6rem ;
    height: 230px;
    max-width: 340px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.342);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    max-width: 1200px;
    border: 2px solid red;
    margin: 0 auto;
    gap: 1.5rem 1.5rem;
}


.box1 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border-top: 4px solid #549ef2ff;
}
.box2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border-top: 4px solid #ea5353ff;
}
.box3 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    border-top: 4px solid #fcaf4aff;
}
.box4 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    border-top: 4px solid #45d3d3ff;
}

.box-heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.box-text {
    color: #697077ff;
    font-size: 0.8rem;
}

.img-container {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: end;
}

img {
    width: 60px;
    height: 60px;
}

@media (max-width: 706px) {
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}